th
{
    padding-right: 75px;
    width: 100px;
}

table
{
    width: 100%;
}

.profile-thumbnail 
{
    position: absolute;
}

.profile-header 
{
    min-height: 260px;
    margin-left: 280px;
}

.table, table, tr, td, tbody, head, tbody,tfoot 
{
    vertical-align: initial;
}