{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Achievement Tracker {% endblock %}

{% block page_content %}
<div>
	{% if current_user.is_authenticated %}
		<div class = "text-right">
			<a class = "btn btn-primary" href="{{ url_for('main.achievements') }}">Add Achievement</a>
		</div>
	{% endif %}
	<!--Add new Button-->

	<h1>Achievements to Complete</h1>
	
		<!-- db list goes here -->
		{% for achieve in achievements %}

			{% if not achieve.isComplete %}

				<li class="post">
					<div class="post-content">
						<div> { achieve.achievement }}</div>
						<div>{{ achieve.progress }}</a></div>
						<div>{{ achieve.isComplete }}</div>
					</div>
				</li>

			{% endif %}

		{% endfor %}

	<br>	<br>	<br>	<br>

	<h1>Achievements Completed</h1>

		{% for achieve in achievements %}

		{% if achieve.isComplete %}

			<li class="post">
				<div class="post-content">
					<div> { achieve.achievement }}</div>
					<div>{{ achieve.progress }}</a></div>
					<div>{{ achieve.isComplete }}</div>
				</div>
			</li>

		{% endif %}

	{% endfor %}

	<!-- other db list goes here -->

</div>
{% endblock %}