{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Achievement Tracker {% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
{% endblock styles %}

{% block page_content %}
<div>

	{% if current_user.is_authenticated %}
		<div class = "text-right">
			<a class = "btn btn-primary" href="{{ url_for('main.achievements') }}">Add Achievement</a>
		</div>
	{% endif %}

	<br>

	<div class="row">
		<div class="col md-12">
			<div class="jumbotron p-3">

				<h2>In <b>Progress</b></h2>
	
					<table class="table table-hover table-dark">

						<tr>
							<th>Name</th>
							<th>Achievement</th>
							<th>Progress</th>
							<th>Completed?</th>
							
							{% if current_user.is_authenticated %}
								<th>Options</th>
							{% endif %}						
						</tr>

						{% for achievement in achievements %}

							{% if not achievement.isComplete %}

								<tr>
									<td><img class="img-rounded" src="{{ achievement.author.gravatar(size=36) }}">  {{ achievement.author }}</td>
									<td>{{ achievement.achievement }}</td>
									<td>{{ achievement.progress }}</td>

									{% if achievement.isComplete %}
										<td>Yes</td>
									{% else %}
										<td>No</td>
									{% endif %}

									{% if current_user.is_authenticated %}
										<td><a class = "btn btn-warning btn-xs" href="/update/{{achievement.id}}">Update</a> <a class = "btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete?')" href="/delete/{{achievement.id}}">Delete</a></td>
									{% endif %}

								</tr>

							{% endif %}

						{% endfor %}

					</table>	

				<br>	<br>	<br>	<br>

				<!-- other db list goes here -->
				<h2>Completed <b>Achievements</b></h2>

					<table class="table table-hover table-dark">

						<tr>
							<th>User</th>
							<th>Achievement</th>
							<th>Progress</th>
							<th>Completed?</th>

							{% if current_user.is_authenticated %}
								<th>Options</th>
							{% endif %}

						</tr>

						{% for achievement in achievements %}

							{% if achievement.isComplete %}
				
								<tr>
									<td><img class="img-rounded" src="{{ achievement.author.gravatar(size=36) }}">  {{ achievement.author }}</td>
									<td>{{ achievement.achievement }}</td>
									<td>{{ achievement.progress }}</td>

									{% if achievement.isComplete %}
										<td>Yes</td>
									{% else %}
										<td>No</td>
									{% endif %}

									{% if current_user.is_authenticated %}
										<td><a class = "btn btn-warning btn-xs" href="/update/{{achievement.id}}">Update</a> <a class = "btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete?')" href="/delete/{{achievement.id}}">Delete</a></td>
									{% endif %}

								</tr>

							{% endif %}
						{% endfor %}

					</table>

			</div>
		</div>
	</div>
</div>
{% endblock %}